name: Release version
on:
  push:
    tags:
      - "v*"
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: iotakingdoms/actions/packages/release-version@main
        with:
          npm_token: ${{ secrets.NPM_TOKEN }}
